@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

body {
  @apply bg-gradient-to-br from-[#e8faff] to-[#f9feff] text-[#12313e];
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  scroll-behavior: smooth;
}

